
@model IEnumerable<CreditCardValidation.Models.CardProvider>

<h2>Card Providers</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.React("CardProviderList", new
{
    initialData = Model,
    url = Url.Action("List"),
    pollInterval = 2000
})

<script src="@Url.Content("~/Scripts/CardProviderIndex.jsx")"></script>
@Html.ReactInitJavaScript()

