@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <div>
       <p>Application to add card numbers and add card providers to verify the cards.</p>
    </div>
   <div>
       <a href="/Card" class="btn btn-primary">Cards</a>
       <a href="/CardProvider" class="btn btn-info">Card Providers</a>
   </div>
</div>